<h1> component-selecters</h1>
<p>ye data component-selecter files ka hai jo k mai component 1 k under render kr rha hu or component 1 ka data parent app mai render ho rha hai  
</p>
<h2 style="color: blue;background-color: chartreuse;"> componet Selecters ki 3 types hai</h2>
<ol>
    <li>Element </li>
    <li> Atttribute</li>
    <li>class </li>
</ol>
<h2>1.Element</h2>
  <ol>
    <li>it is reprsented by 'selecter-name'</li>
    <li>to render used &#60; selecter-name &#62;   &#60; /selecter-name &#62; </li>
    <li>it is used in tag form to renderall  data of file</li>
    <li> default method hota hai ye data render krne ka</li>
   
  </ol>

  <h2>2.Attribute</h2>
  <ol>
    <li>it is represented by '[selecter-name]' </li>
    <li>to render used &#60; div selecter-name &#62; &#60;/ div &#62; </li>
    <li>Kisi element mein behavior dalna ho to </li>
  </ol>

  <h2>3.Class</h2>
  <ol>
    <li>it is represent by '.selecter-name'</li>
    <li>it is used in place of class name or any Attribute</li>
    <li>to render used &#60; div class="selecter-name" &#62; &#60;/ div &#62; </li>
    <li>styling k liye use kiya jata hi (rare)</li>
  </ol>
  <p> all selecter types k alg alg component bn k phr in ko selecter-component mai render kiya hai example k liye </p>
<app-selecter1> </app-selecter1>

  <p>attribute example selecter used in div  ap koi component bnao or chte ho k btn click py wo data show ho to ap attribute selecter use kr skte hai  </p>
  <div app-selecter2> 

  </div>

  <h1> hello </h1>
  <p>component-selecte end</p>
  <hr>
  
 